.welcome {
    h2 {
        font-family: "Viaoda Libre", serif;
        font-size: 110px;
    }

    h1 {
        font-family: "Snell", serif;
        font-size: 160px;
    }

    h3 {
        font-size: 80px;
        font-family: "Viaoda Libre", serif;
        color: #F6BAC6;
        width: 25%;
        text-align: start;
        line-height: 76px;
    }

    span {
        font-size: 18px;
        font-family: "Viaoda Libre", serif;
        margin: -10px 0px -110px 260px;
    }

    p {
        font-family: "Josefin slab", serif;
        font-size: 16px;
        width: 100%;
        text-align: start;
    }

    .read {
        margin-right: 160px;
        margin-top: -100px;
    }
}

@media (max-width: 640px) {
    .welcome {
        h2 {
            font-family: "Viaoda Libre", serif;
            font-size: 65px;
        }
    
        h1 {
            font-family: "Snell", serif;
            font-size: 120px;
        }
    
        h3 {
            font-size: 50px;
            font-family: "Viaoda Libre", serif;
            color: #F6BAC6;
            width: 90%;
            text-align: start;
            line-height: 55px;
            margin: auto;
            transform: translateX(-30%);
        }
    
        span {
            font-size: 18px;
            font-family: "Viaoda Libre", serif;
            margin: -10px 0px -85px 200px;
        }
    
        p {
            font-family: "Josefin slab", serif;
            font-size: 18px;
            width: 100%;
            text-align: start;
        }
    
        .read {
            transform: translate(20%, 30%);
        }
    }

    .title {
        padding: 0 40px !important;
        margin-bottom: 12px !important;

        h1 {
            font-size: 32px !important;
            width: 100% !important; 
        }
    }

    .recent h3 {
        font-size: 20px;
        padding: 25px 40px 0px 40px !important;
        width: 50% !important;
    }

    .posts {
        padding: 16px 0 36px 0 !important;
    }

    .post {
        width: 300px;
        height: 320px;
    }

    .search-input {
        justify-content: center;
        transform: translateX(15%);
        margin-bottom: 16px;
        width: 320px;
    }
}

.recent h3 {
    font-family: "Josefin slab", serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 15px 20px 0px 20px;
    transform: translateY(-30px);
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #DCD1C2;
    border-radius: 12px;
}

.all h3 {
    font-family: "Josefin slab", serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding: 15px 20px 0px 20px;
    transform: translateY(-30px);
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #F6F6F6;
    border-radius: 12px;
}

.animate-fade-in {
    animation: fade-in 1.8s ease-out forwards;
    transition: animation 0.3s ease-in-out;
}

.post .excerpt {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 1.5s ease-in-out;
}

.post:hover .excerpt {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s ease-in-out, max-height 1.5s ease-in-out;
    color: black !important;
}

.post:hover h6 {
    color: black !important;
}

.post:hover .tag {
    background-color: black !important;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.post .tag {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.post:hover {
    .post h6 {
        color: black;
    }

    .above {
        background-color: white;
    }
}

.above:hover {
    background-color: white;
    opacity: 0.5;
    transition: background-color 0.3s ease-in-out;
}

.above {
    transition: background-color 0.3s ease-in-out;
}

.title h1 {
    font-family: "Test Tiempos Text", serif;
    font-size: 62px;
    font-weight: 300;
    color: white;
    width: 35%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
}