.post .excerpt {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 1.5s ease-in-out;
}

.post:hover .excerpt {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s ease-in-out, max-height 1.5s ease-in-out;
    color: black !important;
}

.post:hover h6 {
    color: black !important;
}

.post:hover .tag {
    background-color: black !important;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.post .tag {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.above:hover {
    background-color: white;
    opacity: 0.5;
    transition: background-color 0.3s ease-in-out;
}

.above {
    transition: background-color 0.3s ease-in-out;
}