.projects {
    h2 {
        font-family: "Viaoda Libre", serif;
        font-size: 110px;
    }

    h1 {
        font-family: "Snell";
        font-size: 160px;
        margin-top: -60px;
    }

    p {
        font-family: "Josefin slab", serif;
        font-size: 16px;
        width: 100%;
        text-align: start;
    }

    .read {
        margin-top: -40px;
        padding-top: -20px;
        transform: translate(90%, 80%);
        width: 100%;

        p {
            width: 40%;
            font-size: 20px;
        }
    }
}

.floating {
    animation: float 5s ease-in-out infinite;
    position: absolute;
    left: 25%;
    margin-top: -20%;
}

.word-container {
    position: relative;

    .word {
        position: relative;
    }

    .swoosh {
        position: absolute;
        top: -55%;
        left: -15%;
    }
}

.parallax {
    h1 {
        font-family: "Snell";
        font-size: 100px;
        padding-top: 20px;
    }

    span {
        font-family: "Viaoda Libre", serif;
        font-size: 36px;
    }

    p {
        font-family: "Josefin slab", serif;
        font-size: 20px;
        font-weight: 600;
    }

    .project {
        border-radius: 1700px 1700px 0 0;
        height: 110vh;
    }

    .mockup {
        height: 47vh;
        margin-bottom: 8vh;
        position: absolute;
        transform: translateY(-95%);
        transition: height 0.4s ease-in-out;
    }

    .lugenius {
        margin-left: -6%;
    }

    .mockup:hover {
        height: 51vh;
    }

    .blog {
        height: 122vh;

        .mockup {
            transform: translateY(-50vh);
        }
    }

    .sales {
        height: 122vh;

        .mockup {
            transform: translateY(-48vh);
        }
    }

    .petvax {
        height: 110vh;

        .mockup {
            transform: translateY(-42vh);
        }
    }
}

@media (max-width: 640px) {
    .projects {

        padding: 30px 80px;


        h2 {
            font-family: "Viaoda Libre", serif;
            font-size: 50px;
        }

        h1 {
            font-family: "Snell";
            font-size: 100px;
            margin-top: -30px;
            margin-left: 50px;
        }

        p {
            font-family: "Josefin slab", serif;
            font-size: 14px;
            width: 100% !important;
            text-align: start;
        }

        .read {
            margin-top: -20px;
            transform: translate(40%, 50%);
            width: 100%;

            p {
                width: 40%;
                font-size: 20px;
            }
        }
    }

    .floating {
        animation: float 5s ease-in-out infinite;
        position: absolute;
        left: 5%;
        margin-top: -40%;
        width: 80px;
    }

    .word-container {
        position: relative;

        .word {
            position: relative;
        }

        .swoosh {
            position: absolute;
        }
    }

    .parallax {
        h1 {
            font-family: "Snell";
            font-size: 100px;
        }

        span {
            font-family: "Viaoda Libre", serif;
            font-size: 36px;
        }

        p {
            font-size: 18px;
            font-weight: 600;
        }


        .project {
            border-radius: 1700px 1700px 0 0;
            padding: 25px;

            h1 {
                font-size: 55px;
                margin-top: -8vh !important;
            }

            span {
                font-size: 20px;
            }

            p {
                font-size: 15px;
                width: 100% !important;
            }
        }
    }

    .mockup:hover {
        height: 27vh !important;
    }

    .view-button {
        margin-bottom: 10px !important;
    }

    .blog {
        height: 110vh !important;

        .mockup {
            height: 25vh !important;
            transform: translateY(-145%) !important;
        }
    }

    .sales {
        height: 90vh !important;

        .mockup {
            height: 25vh !important;
            transform: translateY(-147%) !important;
        }
    }

    .petvax {
        height: 90vh !important;

        .mockup {
            height: 25vh !important;
            transform: translateY(-130%) !important;
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px) rotate(15deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}