<div class="projects flex flex-col justify-center text-center items-center py-40 pt-96 mb-40" id="projects">
    <img src="assets/floating.svg" alt="floating flower" class="floating">
    <h2>some of my</h2>
    <div class="word-container">
        <h1 class="word">projects</h1>
        <svg fill="none" preserveAspectRatio="none" viewBox="0 0 459 315" xmlns="http://www.w3.org/2000/svg"
            class="swoosh">
            <path #path
                d="m37.9827 67.401c62.6553-2.3532 192.4733 14.5084 225.7033 23.4123 33.229 8.9039 171.913 46.4967 172.688 91.1327.775 44.637-98.087 87.949-209.121 77.685s-199.4422-61.075-200.151-105.026c-.7089-43.951 71.6094-82.6545 164.085-94.0772 92.476-11.4227 253.793 31.4917 204.039 118.4652"
                stroke="#88B2C4" stroke-width="3" style="stroke-dasharray: 0; stroke-dashoffset: 0;"></path>
        </svg>
    </div>
    <div class="flex flex-row justify-center items-center">
        <div class="read flex flex-row gap-3">
            <img class="h-16" src="assets/sign.svg" alt="arrow">
            <p>Here you can see some of my greatest ideas.</p>
        </div>
    </div>
</div>

<div class="parallax">
    <div #blog class="project bg-[#FDCDD7] flex flex-col items-center justify-center text-center p-24">
        <img src="assets/carollie.gif" alt="carollies blog" class="mockup">
        <h1>Blog</h1>
        <span>1/3</span>
        <p>A simple blog application made with Angular & TypeScript - front-end / Spring & Java - back-end.</p>
        <a href="/blog" class="view-button mt-6 mb-24 font-inter rounded-2xl border-2 border-dashed border-black bg-[#FDCDD7] px-6 py-3 font-semibold uppercase text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none">
            View
        </a>
    </div>

    <div class="bg-[#FDCDD7]">
        <div #sale class="project bg-white flex flex-col items-center justify-center text-center p-24">
            <img src="assets/lugenius.gif" alt="lugenius landing page" class="mockup lugenius">
            <h1>Lugenius sales</h1>
            <span>2/3</span>
            <p>A landing page developed for Lugenius to increase sales of the company.</p>
            <a href="http://lugenius.com/dist" class="view-button mt-6 mb-24 font-inter rounded-2xl border-2 border-dashed border-black bg-white px-6 py-3 font-semibold uppercase text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none">
                View
            </a>
        </div>
    </div>

    <div class="bg-white">
        <div #arduino class="project bg-[#E7DBFF] flex flex-col items-center justify-center text-center p-24">
            <img src="assets/petvax.svg" alt="petvax" class="mockup">
            <h1>PetVax</h1>
            <span>3/3</span>
            <p>A mobile application that provides access to your pet's vaccination card digitally. Currently under development.</p>
            <a href="https://www.figma.com/proto/ogcigLBq6hOEnq6nriE18E/APP%3A-Carteira-de-Vacina%C3%A7%C3%A3o-Animal?node-id=58-1320" class="view-button mt-6 font-inter rounded-2xl border-2 border-dashed border-black bg-[#E7DBFF] px-6 py-3 font-semibold uppercase text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none">
                View
            </a>
        </div>
    </div>

</div>