<div class="mx-auto lg:px-4 sm:px-0 py-36 justify-center overflow-hidden" *ngIf="post">
    <div class="w-full flex flex-col mx-auto bg-white justify-center lg:p-12 sm:p-0">
        <h1 class="text-gray-800 text-center lg:px-40 sm:px-12 mb-4 post-name">{{ post.name }}</h1>
        <span class="text-gray-500 text-sm text-center font-inter">Publicado em: {{ post.date | date:'medium' }}</span>

        <div class="paragraph lg:p-20 lg:flex lg:flex-row sm:flex-col lg:columns-2 lg:justify-evenly sm:justify-center">
            <div class="mb-4 lg:w-2/5 sm:w-full">
                <div class="text-black mt-4 post-excerpt font-inter" [innerHTML]="getFirstParagraph()"></div>
                <span *ngIf="post.tags?.length > 0" class="text-gray-500 text-sm text-center font-inter">Palavras-chave: <span class="capitalize">{{ post.tags }}</span></span>
            </div>

            <div>
                <img class="object-cover rounded-lg" [src]="post?.img" alt="{{ post?.name }}">

                @if (isLoggedIn) {
                <ul class="flex space-x-4 mt-2 ml-auto font-inter">
                    <li>
                        <a class="hover:underline text-[#D73234] font-medium" [routerLink]="['/edit-post', post.slug]">Edit post</a>
                    </li>

                    <li>
                        <a href="/delete-post" class="hover:underline text-[#D73234] font-medium" routerLink="/delete-post"
                            routerLinkActive="/delete-post" (click)="deletePostById(post.id)">Delete post</a>
                    </li>
                </ul>
                }
            </div>
        </div>

        <div class="content flex flex-col px-52 justify-center items-center">
            <div class="text-black mt-4 post-content font-inter" [innerHTML]="getContentWithoutFirstParagraph()"></div>
        </div>

        <div class="author lg:px-52 lg:py-16 flex lg:flex-row sm:flex-col justify-between items-center w-full">
            <div class="author-n flex flex-row gap-8 justify-center items-center">
                <img src="assets/author.svg" alt="author" class="pfp"/>
                <div class="w-72">
                    <h3 class="text-xl">Ana Caroline Vieira</h3>
                    <p class="font-inter italic text-sm">Estudante de Ciência da Computação</p>
                </div>
            </div>
            <div class="icons flex flex-row justify-center gap-8">
                <a href=""><img class="w-10 h-10" src="assets/linkedin.svg" alt="linkedin"></a>
                <a [href]="'https://wa.me/?text=' + whatsappMessage" target="_blank"><img class="w-10 h-10" src="assets/whatsapp.svg" alt="whatsapp"></a>
                <button (click)="copyLink()"><img class="w-10 h-10" src="assets/copy-link.svg" alt="copy link"></button>
            </div>
        </div>
    </div>
</div>