<div class="mx-auto p-4 justify-center" *ngIf="post">
    <div class="w-full grid mx-auto bg-white overflow-hidden justify-center p-12">
        <p class="text-gray-800 text-center text-6xl px-14 mb-4 post-name">{{ post.name }}</p>
        <span class="text-gray-500 text-sm text-center font-inter">Publicado em: {{ post.date | date:'medium' }}</span>

        <div class="p-20 grid grid-cols-2 justify-center">
            <div class="mb-4">
                <div class="text-black mt-4 post-excerpt font-inter" [innerHTML]="getFirstParagraph()"></div>
                <span class="text-gray-500 text-sm text-center font-inter">Palavras-chave: <span class="capitalize">{{ post.tags }}</span></span>
            </div>

            <div>
                <img class="object-cover" [src]="post?.img" alt="{{ post?.name }}">

                @if (isLoggedIn) {
                <ul class="flex space-x-4 mt-2 ml-auto">
                    <li>
                        <a class="hover:underline text-[#D73234] font-medium" [routerLink]="['/edit-post', post.slug]">Edit post</a>
                    </li>

                    <li>
                        <a href="/delete-post" class="hover:underline text-[#D73234] font-medium" routerLink="/delete-post"
                            routerLinkActive="/delete-post" (click)="deletePostById(post.id)">Delete post</a>
                    </li>
                </ul>
                }
            </div>
        </div>

        <div class="flex px-20 justify-center items-center w-full">
            <div class="text-black mt-4 post-content font-inter" [innerHTML]="getContentWithoutFirstParagraph()"></div>
        </div>

        <div class="px-20 py-16 flex flex-row justify-between items-center w-full">
            <div class="flex flex-row gap-8 justify-center items-center author">
                <img src="assets/author.svg" alt="author" />
                <div class="w-72">
                    <h3 class="text-xl">Ana Caroline Vieira</h3>
                    <p class="font-inter italic text-sm">Estudante de Ciência da Computação</p>
                </div>
            </div>
            <div class="icons flex flex-row justify-center gap-8">
                <img class="w-10 h-10" src="assets/linkedin.svg" alt="linkedin">
                <img class="w-10 h-10" src="assets/instagram.svg" alt="instagram">
                <img class="w-10 h-10" src="assets/copy-link.svg" alt="copy link">
            </div>
        </div>
    </div>
</div>