<div id="app" class="app">
  <nav class="bg-[#F3EEE8] flex flex-row justify-between">
    <a href="/home" class="logo">
      <img src="assets/carollie.svg" alt="carollie logo" />
    </a>
    <img src="assets/menu.svg" class="w-10 h-10 m-12" alt="menu icon" [ngClass]="{'hidden': menuVisible}"
      (click)="showMenu()" />
  </nav>

  <div *ngIf="menuVisible || isAnimating"
    class="fixed inset-0 flex flex-col w-full h-full bg-[#F3EEE8] z-50 text-center overflow-scroll"
    [ngClass]="{'animate-slide-in': menuVisible && !isAnimating, 'animate-slide-out': !menuVisible && isAnimating}">
    <a href="/home" class="logo">
      <img src="assets/carollie.svg" alt="carollie logo" />
    </a>
    <div class="options mb-20">
      <ul class="justify-center mt-2 text-black">
        <li>
          <a href="/home" class="" routerLink="/home" routerLinkActive="/home" (click)="showMenu()">Home</a>
        </li>

        <li>
          <a href="/view-all" class="" routerLink="/view-all" routerLinkActive="/view-all" (click)="showMenu()">Blog</a>
        </li>

        <li>
          <a href="/home/#stacks" (click)="showMenu()">Stacks</a>
        </li>

        @if (isLoggedIn) {
        <li>
          <a href="/create-post" class="" routerLink="/create-post" routerLinkActive="/create-post"
            (click)="showMenu()">Create
            Post</a>
        </li>

        <ul class="justify-center mt-2 ml-auto text-black">
          <li>
            <a href="/login" class="" (click)="logout()" (click)="showMenu()">LogOut</a>
          </li>
        </ul>
        }
      </ul>

      @if (!isLoggedIn) {
      <ul class="justify-center mt-2 ml-auto text-black">
        <li>
          <a href="/register" class="" routerLink="/register" routerLinkActive="/register" (click)="showMenu()">Sign
            Up</a>
        </li>
        <li>
          <a href="/login" class="" routerLink="/login" routerLinkActive="/login" (click)="showMenu()">Login</a>
        </li>
      </ul>
      }
      <div class="flex flex-row justify-evenly font-inter text-4xl font-bold p-10">
        <a href="https://www.linkedin.com/in/ana-caroline-vieira-526374274/" class="w-48" id="linkedin"
          #encryptButton (mouseenter)="scrambleLinkedin()" (mouseleave)="stopScrambleLinkedin()">{{ text }}</a>
        <a #encryptButton2 (mouseenter)="scrambleGithub()" (mouseleave)="stopScrambleGithub()"
          href="https://github.com/carolliie" class="w-48" id="github">{{ text2 }}</a>
      </div>
    </div>

    <button (click)="showMenu()" class="absolute top-12 right-12 w-10 h-10">
      <img src="assets/close.svg" alt="close menu icon" />
    </button>
  </div>

  <div class="mx-auto">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>