@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
        transition: transform 4.3s ease-in-out, opacity 1.3s ease-in-out;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 4.3s ease-in-out, opacity 1.3s ease-in-out;
    }
}

@media (max-width: 640px) {
    nav {
        background-color: #F3EEE8;
    }
}

.animate-slide-in {
    animation: fade-in 0.5s ease-out forwards;
    transition: animation 0.3s ease-in-out;
}

.animate-slide-out {
    animation: fade-out 0.5s ease-out forwards;
    transition: animation 0.3s ease-in-out;
}

.options {
    font-family: 'Snell', serif;
    font-size: 88px;
}

.app {
    scroll-behavior: smooth;
}