<div id="app">
  <nav class="bg-gray-800 p-4">
    <a href="#" class="text-white text-lg font-semibold">CarollieBlog</a>
    <ul class="flex space-x-4 mt-2 text-white font-bold">
      <li>
        <a href="/view-all" class="hover:underline" routerLink="/view-all" routerLinkActive="/view-all">Home</a>
      </li>
      @if (showAdminBoard) {
        <li>
          <a href="/admin" class="hover:underline" routerLink="/admin" routerLinkActive="/admin">Admin Board</a>
        </li>
      }
      @if (showModeratorBoard) {
        <li>
          <a href="/mod" class="hover:underline" routerLink="/mod" routerLinkActive="/mod">Moderator Board</a>
        </li>
      }
      @if (isLoggedIn) {
        <li>
          <a href="/user" class="hover:underline" routerLink="/user" routerLinkActive="/user">User</a>
        </li>
      }
    </ul>

    @if (!isLoggedIn) {
      <ul class="flex space-x-4 mt-2 ml-auto text-white">
        <li>
          <a href="/register" class="hover:underline" routerLink="/register" routerLinkActive="/register">Sign Up</a>
        </li>
        <li>
          <a href="/login" class="hover:underline" routerLink="/login" routerLinkActive="/login">Login</a>
        </li>
      </ul>
    } @else {
      <ul class="flex space-x-4 mt-2 ml-auto text-white">
        <li>
          <a href="/profile" class="hover:underline" routerLink="/profile" routerLinkActive="/profile">{{ username }}</a>
        </li>
        <li>
          <a href="#" class="hover:underline" (click)="logout()">LogOut</a>
        </li>
      </ul>
    }
  </nav>

  <div class="container mx-auto p-4">
    <router-outlet></router-outlet>
  </div>
</div>
