<div class="welcome flex flex-col justify-center text-center items-center animate-fade-in py-40">
  <h2>welcome to my</h2>
  <span>2024</span>
  <h1>portfolio</h1>
  <div class="title-2 flex flex-row justify-center items-center">
    <h3>& Blog</h3>
    <div class="read flex flex-row gap-3">
      <img class="h-24 w-3" src="assets/line.svg" alt="line">
      <p>Hi! I am Caroline, FullStack Developer and Web Designer from Brazil. But you can call me Carole.</p>
    </div>
  </div>
</div>

<div class="flex flex-row justify-center items-center">
  <div class="about bg-[#FBFBFB] p-16 m-20">
    <h1>More about <span class="text-[#88B2C4]">Carole</span>?</h1>
    <p>“I'm <span class="text-[#88B2C4]">Ana Caroline Vieira</span>, a Computer Science student and software
      engineering enthusiast. <img src="assets/curl.svg" alt="curl" class="curl h-16 w-16"
        style="vertical-align: middle; display: inline;"></p>

    <p>My stacks are:</p>

    <div class="stacks flex flex-row gap-12 h-20 justify-center my-10">
      <img src="assets/Java.svg" alt="java" class="stack">
      <img src="assets/postgres.svg" alt="postgres" class="stack">
      <img src="assets/Angular.svg" alt="angular" class="stack">
      <img src="assets/spring.svg" alt="spring" class="stack">
      <img src="assets/ts.svg" alt="typescript" class="stack">
      <img src="assets/git.svg" alt="git" class="stack">
    </div>

    <p>As a <span class="text-[#88B2C4]">Computer Science student</span>, I am immersed in the world of technology,
      looking for new STACKS and skills to
      <span class="learn">LEARN</span>.“
    </p>

    <div class="button flex flex-row justify-end mt-8">
      <a class="arrow-button flex flex-row text-end items-center bg-[#FBFBFB] justify-end gap-3 font-inter font-semibold p-2 px-4 transition-all duration-300 hover:bg-black hover:text-[#FBFBFB]"
        href="/home/#contact">
        <img src="assets/arrow-button.svg" alt="arrow"
          class="h-12 transform">
        <h4 class="transform">Get in contact</h4>
      </a>
    </div>

  </div>
</div>

<app-projects></app-projects>

<app-recent-posts></app-recent-posts>

<app-forms></app-forms>