.welcome {
    h2 {
        font-family: 'Viaoda Libre', serif;
        font-size: 140px;
    }

    h1 {
        font-family: 'Snell', serif;
        font-size: 200px;
    }

    h3 {
        font-size: 200px;
        font-family: 'Viaoda Libre', serif;
        color: #F6BAC6;
        width: 100%;
        text-align: start;
        line-height: 76px;
        margin-left: 10%;
        margin-top: -25px;
    }

    span {
        font-size: 18px;
        font-family: 'Viaoda Libre', serif;
        margin: 2% 0 -8% 30%;
    }

    p {
        font-family: 'Josefin slab', serif;
        font-size: 16px;
        width: 100%;
        text-align: start;
    }

    .read {
        margin-top: -30px;
        padding-top: -20px;
        width: 100%;
        margin-left: -4%;

        p {
            width: 45%;
            font-size: 20px;
        }
    }
}

.about {
    border: 2.5px solid black;
    border-radius: 60px;
    border-bottom: 20px solid black;

    h1 {
        font-family: 'Viaoda Libre', serif;
        font-size: 100px;

    }

    p {
        font: 600 48px 'Inter', serif;
        text-transform: uppercase;
    }

    .learn {
        display: inline-block;
        position: relative;
    }
    
    .learn::after {
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        background: url('/assets/zigzag.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        bottom: -12px;
    }

    .arrow-button {
        border-radius: 66px;
        font-size: 24px !important;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .arrow-button:hover {
        background-color: black;
        color: #FBFBFB;
    }
    
    .arrow-button img, .arrow-button h4 {
        transition: transform 0.3s ease-in-out;
    }
    
    .arrow-button img {
        transform: translateX(0);
    }
    
    .arrow-button:hover img {
        transform: translateX(340%); /* Move a seta para a esquerda */
    }
    
    .arrow-button h4 {
        transform: translateX(0);
    }
    
    .arrow-button:hover h4 {
        transform: translateX(-36%); /* Move o texto para a direita */
    }
}

.animate-fade-in {
    animation: fade-in-down 1.8s ease-out forwards;
    transition: animation 0.3s ease-in-out;
}

@media (max-width: 640px) {
    .welcome {
        padding: 180px 0 120px;

        h2 {
            font-family: 'Viaoda Libre', serif;
            font-size: 65px;
        }

        h1 {
            font-family: 'Snell', serif;
            font-size: 100px;
            margin-left: 50px;
        }

        h3 {
            font-size: 75px;
            font-family: 'Viaoda Libre', serif;
            color: #F6BAC6;
            width: 45vh;
            text-align: start;
            line-height: 55px;
            margin: auto;
            transform: translate(100%, -15%);
        }

        span {
            font-size: 12px;
            font-family: 'Viaoda Libre', serif;
            margin: -2% 0 -15% 74%;

        }

        .read {
            transform: translate(-10%, 130%);

            p {
                font-size: 17px;
                font-family: 'Josefin slab', serif;
                text-align: start;
                width: 30vh !important;
            }

            img {
                height: 80px;
                width: 8px;
            }
        }
    }

    .about {
        border: 2.5px solid black;
        border-radius: 30px;
        border-bottom: 12px solid black;
        padding: 20px;
        margin: 20px;
    
        h1 {
            font-family: 'Viaoda Libre', serif;
            font-size: 50px;
    
        }
    
        p {
            font: 600 30px 'Inter', serif;
            text-transform: uppercase;
        }
    
        .learn {
            display: inline-block;
            position: relative;
        }
        
        .learn::after {
            content: '';
            display: block;
            width: 100%;
            height: 20px;
            background: url('/assets/zigzag.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            bottom: -14px;
        }
    
        .arrow-button {
            border-radius: 66px;
            font-size: 18px !important;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .stacks {
            img {
                height: 60px !important;
            }
            
            padding-bottom: 18vh;
            flex-wrap: wrap;
        }

        .curl {
            height: 36px;
        }

        .button {
            justify-content: center;
        }

        .arrow-button:hover img {
            transform: translateX(280%); /* Move a seta para a esquerda */
        }

        .arrow-button:hover h4 {
            transform: translateX(-44%); /* Move o texto para a direita */
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    100% {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    100% {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
}