.welcome {
    h2 {
        font-family: "Viaoda Libre", serif;
        font-size: 110px;
    }

    h1 {
        font-family: "Snell", serif;
        font-size: 160px;
    }

    h3 {
        font-size: 160px;
        font-family: "Viaoda Libre", serif;
        color: #F6BAC6;
        width: 100%;
        text-align: start;
        line-height: 76px;
        margin-left: 17%;
        margin-top: -35px;
    }

    span {
        font-size: 18px;
        font-family: "Viaoda Libre", serif;
        margin: 10px 0px -130px 470px;
    }

    p {
        font-family: "Josefin slab", serif;
        font-size: 16px;
        width: 100%;
        text-align: start;
    }

    .read {
        margin-top: -40px;
        padding-top: -20px;
        width: 100%;
        margin-left: -4%;

        p {
            width: 45%;
            font-size: 20px;
        }
    }
}

.stacks h3 {
    font-family: "Josefin slab", serif;
    font-weight: 600;
    font-size: 20px;
    color: #726655;
    padding: 20px 25px 0px 25px;
    transform: translateY(-30px);
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #DCD1C2;
    border-radius: 12px;
}

.animate-fade-in {
    animation: fade-in-down 1.8s ease-out forwards;
    transition: animation 0.3s ease-in-out;
}

.stack-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
}

.stack-fade-out {
    animation: fade-out 0.3s ease-in-out forwards;
}

.click {
    h3 {
        font-family: "Viaoda Libre", serif;
        font-size: 18px;
        text-decoration: underline;
    }

    h1 {
        font-family: "Viaoda Libre", serif;
        font-size: 88px;
    }

    p {
        text-transform: uppercase;
        font-size: 50px;
        font-family: 'Inter', serif;
        font-weight: 600;
    }

    border-radius: 0px 0px 40px 40px;
}

.transition-container {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .content.expanded {
    max-height: 700px;
    opacity: 1;
  }
  
  .content.collapsed {
    max-height: 0;
    opacity: 0;
  }
  

@keyframes fade-in {
    0% {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    100% {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    100% {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
}