<div class="welcome flex flex-col justify-center text-center items-center animate-fade-in py-40 mb-40">
  <h2>welcome to my</h2>
  <span>2024</span>
  <h1>portfolio</h1>
  <div class="flex flex-row justify-center items-center">
    <h3 class="">& Blog</h3>
    <div class="read flex flex-row gap-3">
      <img class="h-24 w-3" src="assets/line.svg" alt="line">
      <p>Hi! I am Caroline, FullStack Developer and Web Designer from Brazil. But you can call me Carole.</p>
    </div>
  </div>
</div>

<div class="stacks bg-[#DCD1C2]" id="stacks">
  <h3 class="flex justify-center text-center font-semibold">Some of my Stacks</h3>
  <div class="title flex flex-row justify-center items-center p-96 gap-16">
    <img (mouseenter)="show('java', $event)" (mouseleave)="hide()" src="assets/Java.svg" alt="java" class="w-20 h-20">
    <img (mouseenter)="show('postgres', $event)" (mouseleave)="hide()" src="assets/postgres.svg" alt="postgres"
      class="w-20 h-20">
    <img (mouseenter)="show('angular', $event)" (mouseleave)="hide()" src="assets/Angular.svg" alt="angular"
      class="w-20 h-20">
    <img (mouseenter)="show('spring', $event)" (mouseleave)="hide()" src="assets/spring.svg" alt="spring"
      class="w-20 h-20">
    <img (mouseenter)="show('typescript', $event)" (mouseleave)="hide()" src="assets/ts.svg" alt="typescript"
      class="w-20 h-20">
    <img (mouseenter)="show('git', $event)" (mouseleave)="hide()" src="assets/git.svg" alt="git" class="w-20 h-20">
  </div>
  <div
    [ngClass]="{'block': isVisible, 'hidden': !isVisible, 'stack-fade-in': isVisible && !isAnimating, 'stack-fade-out': isAnimating}"
    class="stack bg-white text-[#8E816E] w-56 h-32 rounded shadow font-inter p-3 fixed" [style.left.px]="position.x"
    [style.top.px]="position.y">
    <h4 class="font-semibold">{{ currentStack.title }}</h4>
    <p>{{ currentStack.description }}</p>
  </div>
</div>

<div
  class="click text-start bg-white w-full px-10 py-14 absolute flex flex-col justify-center items-center transition-container"
  style="left: 50%; transform: translateX(-50%);">
  <h3 (click)="showClick()" [ngClass]="{'hidden': isClickVisible}">CLICK FOR MORE</h3>

  <div class="content" [ngClass]="{'expanded': isClickVisible, 'collapsed': !isClickVisible}">
    <div>
      <h1 class="mb-5">More about <span class="text-[#88B2C4]">Carole</span>?</h1>
      <p>“I'm <span class="text-[#88B2C4]">Ana Caroline Vieira</span>, a Computer Science student and software
        engineering enthusiast.

        As a <span class="text-[#88B2C4]">Computer Science student</span>, I am immersed in the world of technology,
        looking for new STACKS and skills to
        LEARN.“
      </p>
    </div>
    <h3 (click)="hideClick()" class="text-center">Close</h3>
  </div>
</div>