<div class="error flex flex-row justify-center p-44">
    <div>
        <h1>404 error</h1>
        <p>Oopsie! This is not the page you are looking for.</p>
        <a href="/"
            class="error-button mb-24 font-inter rounded-2xl border-2 border-dashed border-[#740708] bg-[#F6BAC6] px-6 py-3 font-semibold uppercase text-[#740708] transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_#740708] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none">
            Go to home
        </a>
    </div>

    <img src="assets/cat.svg" alt="cat" class="cat">
</div>